.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 20px;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}

p {
    font-size: 16px;
    color: #b1b1b3;
    margin: 0 !important;
}

.product_price {
  float: right;
  color: #48cfad;
  font-size: 22px;
  font-weight: 600;
}

.see-details {
  padding: 13px;
}

.btn-outline-success {
  border-color: transparent !important;
}